$main-font: 'Open Sans', sans-serif;
$next-font: 'Source Sans Pro', sans-serif;
$header-color: #ffffff;
$main-color: #81868e;
$title-color: #333b46;
$next-color: #464646;

$mainfontSize: 14px; //font-size
$nextfontSize: 16px;
$font-height: 1.8; //line-height
$font-weight: 400;
$color-bg: #f3f3f3;
$color-next: #19bd9a;


/** Grid variables **/
$container-width: 1200px;
$col-padding: 15px;
